In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

<h1><b><I>Inferential Statistics Application

<b><I> <h1>Chi-Square Test</h1>Association between two variables</b><br>
Null Hypothesis: There are no association between two variables<br>
Alternative Hypothesis: There is association between two variables<br>
<h6> Often used when Target variable or Predicting variable is Category

In [22]:
from scipy.stats import chi2_contingency

In [7]:
data_chi = pd.read_csv("sample_data.csv")
data_chi.head()

  Country  color  height  weight citizen
0       A  Black     168      85       y
1       B  Black     164      96       y
2       C  Black     160      86       n
3       A  Black     161      54       n
4       B  Black     161      99       y

In [23]:
table = pd.crosstab(data_chi.color,data_chi.citizen)
display(table)
#tab1=np.array(table)

citizen  n  y
color
Black    2  7
White    9  6

In [10]:
stat, p, dof, expected = chi2_contingency(table)
print(stat,p,dof,expected)
# select significance value
alpha = 0.05
# Determine whether to reject or keep your null hypothesis
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Variables are associated (reject H0)')
else:
    print('Variables are not associated(fail to reject H0)')

1.8909090909090907 0.16909942085258 1 [[4.125 4.875]
 [6.875 8.125]]
significance=0.1, p=0.2
Variables are not associated(fail to reject H0)

#####   <h1>ANOVA TESTING </h1>Association between continous and Non continous Variable
H0: No Association between two variables<br>
H1: Association between two variables

In [12]:
import scipy.stats as stats
#color ==> categoricaland for each value of this

In [13]:
stats.f_oneway(data_chi['height'][data_chi['color']=='Black'],data_chi['height'][data_chi['color']=='White'])

stats.f_oneway(data_chi['height'][data_chi['color']=='Black'],data_chi['height'][data_chi['color']=='White'])

F_onewayResult(statistic=0.022671063478977738, pvalue=0.8816876178966506)

<h4> Another Example

In [25]:
A = [12.6, 12, 11.8, 11.9, 13, 12.5, 14]
B = [10, 10.2, 10, 12, 14, 13]
C = [10.1, 13, 13.4, 12.9, 8.9, 10.7, 13.6, 12]
all_scores = A + B + C
company_names = (['A'] * len(A)) +  (['B'] * len(B)) +  (['C'] * len(C))
data = pd.DataFrame({'company': company_names, 'score': all_scores})
data.columns
data.company.value_counts()
data.head()

  company  score
0       A   12.6
1       A   12.0
2       A   11.8
3       A   11.9
4       A   13.0

In [19]:
stats.f_oneway(data['score'][data['company']=='A'],data['score'][data['company']=='B'],data['score'][data['company']=='C'])

F_onewayResult(statistic=0.8212966923081559, pvalue=0.4556832940515236)

<h1> T-test</h1><br>
H0: mean of two variables are same<br>
H1: means are not same

In [124]:
stats.ttest_rel(data_chi.weight,data_chi.height)

Ttest_relResult(statistic=-27.904440930458303, pvalue=3.063110621332222e-19)

<h1>Z-test</h1><br>
H0:means of two variables are same<br>
H1: means are not same

In [129]:
from statsmodels.stats import weightstats as stests

ttest,pval =stests.ztest(data_chi.weight,data_chi.height)
pval
if(pval<0.05):
    print("Reject the null hypothesis")
else:
    print("Accept the NUll Hypotheiss")

Reject the null hypothesis